<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home-APSIT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/c69e779840.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <!-- section1 -->
    <div class="maincontainer">
      <div class="leftsection">
        <div class="uppersection">
          <img id="Logo" src="./Img/LOGO.png" alt="" height="70px" width="75px" />
          <span id="name">A P Shah Institute Of Technology</span>
        </div>
        <ul class="toolssssss">
          <li>
            <a href="#">
              <i class="fa-solid fa-signal"  id="Icons"></i>
              <span>Performance</span></a
            >
          </li>
          <li>
            <a href="Courses"
              ><i class="fa-light fa-cart-plus fa"  id="Icons"></i
              ><span><img src="" alt="" />Courses</span></a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa-regular fa-folder-open" id="Icons"></i
              ><span><img src="" alt="" />Resources</span></a
            >
          </li>
        </ul>
      </div>
      <div class="middlesection">
        <div class="middlebanner">
          <span>Course Activity</span>
          <button id="showPopupBtn">+</button>
          <p id="date">August 13th, 2023</p>
        </div>
        <div class="mainsection">
          <span> Lectures : </span>
          <div class="sectionss">
            <div class="scroll-container">
              <div class="section1">
                <div class="DataStructure">
                  <a href="MainClass"
                    ><p>Data Structures</p>
                    <p id="profname">Prof. Viki Patil</p>
                    <span id="timing">Sechuduled on : 10:30Am</span></a
                  >
                </div>
                <div class="programmcode">
                  <p>CSC303</p>
                </div>
              </div>
              <div class="section3">
                <div class="DSGT">
                  <a href="MainClass"
                    ><p>Discrete Structure & GT</p>
                    <p id="profname">Prof. Shraddha Dalvi.</p>
                    <span id="timing">Sechuduled on : 12:50pm</span></a
                  >
                </div>
                <div class="programmcode">
                  <p>CSC305</p>
                </div>
              </div>
              <div class="section4">
                <div class="EM">
                  <a href="MainClass"
                    ><p>Engineering Mathematics III</p>
                    <p id="profname">Prof. Naresh Wagh</p>
                    <span id="timing">Sechuduled on : 1:45pm</span></a
                  >
                </div>
                <div class="programmcode">
                  <p>CSC305</p>
                </div>
              </div>
              <div class="section5">
                <div class="DLCOA">
                  <a href="MainClass"
                    ><p>Digital Logics &amp; CA</p>
                    <p id="profname">Prof. Sonia Aneesh</p>
                    <span id="timing">Sechuduled on : 3:00pm</span></a
                  >
                </div>
                <div class="programmcode">
                  <p>CSC305</p>
                </div>
              </div>
              <div class="section2">
                <div class="CG">
                  <a href="MainClass"
                    ><p>Computer Graphics</p>
                    <p id="profname">Prof. Taruna Sharma</p>
                    <span id="timing">Sechuduled on : 11:25Am</span></a
                  >
                </div>
                <div class="programmcode">
                  <p>CSC305</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rightsec">
        <div class="rightbanner">
          <div class="notification-container">
            <p class="notification-button" id="notificationToggle">
              Notifications
            </p>
            <div class="notification-dropdown" id="notificationDropdown">
              <!-- Dropdown content goes here -->
              <div class="notification-item">Notification 1</div>
              <div class="notification-item">Notification 2</div>
              <div class="notification-item">Notification 3</div>
            </div>
          </div>
          <div class="login">
            <a href="login">
              <p>Login/SignUp</p>
              <p id="type">Professor/Student</p>
            </a>
          </div>
          <a href="login">
            <div class="imgavatar">
              <img
                src="./Img/young-smiling-man-avatar-man-with-brown-beard-mustache-hair-wearing-yellow-sweater-sweatshirt-3d-vec (1).jpg"
                alt=""
                height="70px"
                width="70px"
              />
              </a>
            </div>
        </div>
        <div class="rightsectmain">
           <p class="tytty">My Learnings : </p>
          <div class="rightsecelemnts">
           <div class="todolist">
           <div class="todolistimg">
             <a href="#"> <img src="./Img/bullseye-icon-with-arrow-vector-illustration-grey-background_591091-238-removebg-preview.png" height="80px" width="80px" alt="" id="todolistimg"> </a>
           </div>
            <a href="TodoList" class="tyty"><span>To Do List</span></a>
           </div>   
            <div class="TimeTable">
              <div class="TimeTableimg">
                <a href="#"><img src="./Img/Creative-Timetable-1024x576.jpg" alt="" height="80px" width="90px"></a>
              </div>
              <a href="Timetable-AI_ML-ODD SEM 23-24AUG - SE  A TT.pdf" class="tyty"><span>TimeTable</span></a>
            </div> 
            <div class="Support">
              <div class="Supportimg">
                <img src="./Img/tej.png" alt="" height="80px" width="80px">
              </div>
              <a href="http://moodle.apsit.org.in/moodle/" class="tyty"><span>Moodle Support</span></a>
            </div>
            <div class="Achivements">
              <div class="Achivementsimg">
                <a href="#"><img src="./Img/business-people-celebrating-with-cup-trophy_24911-52481.jpg" alt="" height="80px" width="80px"></a>
              </div>
              <a href="https://www.apsit.edu.in/vision-and-mission-t-p" class="tyty"><span>Achivements Of APSIT</span></a>
            </div>
        </div>
          </div>
      </div>
    </div>
    <div id="popup">
      <h2>Enter Details</h2>
      <label for="subject">Subject:</label>
      <input type="text" id="subject"><br><br>

      <label for="timing">Timing:</label>
      <input type="text" id="timing"><br><br>

      <label for="professor">Professor Name:</label>
      <input type="text" id="professor"><br><br>

      <label for="programCode">Program Code:</label>
      <input type="text" id="programCode"><br><br>

      <button id="closePopupBtn">Close</button>
      <button class="done">Done</button>
  </div>
    <!-- <footer class="footer">
      <div>
        Copyright © 2023 A P Shah Institute Of Technology. All Rights Reserved.
      </div>
    </footer> -->
    <script>document.addEventListener("DOMContentLoaded", function () {
      const showPopupBtn = document.getElementById("showPopupBtn");
      const closePopupBtn = document.getElementById("closePopupBtn");
      const popup = document.getElementById("popup");
  
      showPopupBtn.addEventListener("click", function () {
          popup.style.display = "block"; // Show the pop-up when the button is clicked
      });
  
      closePopupBtn.addEventListener("click", function () {
          popup.style.display = "none"; // Hide the pop-up when the close button is clicked
      });
  });
  </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js" integrity="sha512-VJ/iYbiu1eJ6yLimfTi65t2R9TFcG5D9X8ZCfbbEFhTfPnKJh8byoKXEawi5ScJZBYL1eiirL1+MczZDx0Tz9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/textile-js/2.1.1/textile.min.js" integrity="sha512-tXqnJLtLXWw7dsznazHu0eOB2d/oQQ1b6BMvIvwI5gUG5f3e8MxaNTkCBdeQmpwlemlXwNRas39dDQi0BGd2Bg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="Home.js"></script>
    
  </body>
</html>




